[Unit]
Description=Logsurfer blacklist daemon

[Service]
WorkingDirectory=/tmp
User=logsurfer
Group=logsurfer
ExecStart=blacklistd -v

[Install]
WantedBy=multi-user.target
