[Unit]
Description=Logsurfer auth.log scanner

[Service]
WorkingDirectory=/tmp
User=logsurfer
Group=logsurfer
ExecStart=logsurfer -e -F -c /usr/local/etc/logsurfer/auth.conf /var/log/auth.log

[Install]
WantedBy=multi-user.target
